.fa-user-circle {
  font-size: 25px;
  padding-right: 5px;
}
.header_nav_link {
  font-size: 20px;
  font-weight: bold;
}

.fa-sign-out {
  font-size: 25px;
  padding-right: 5px;
}

.hidden {
  display: none;
}

.header_nav_link {
  color: #2c3e50;
  text-decoration: none;
  text-align: center;
}

.header_nav_link :hover {
  color: green;
}

.header_nav {
  display: flex;
  gap: 2rem;
}
